html {
  scroll-behavior: smooth;
}



body{
	font-family: Roboto;
	margin:0;
	background:#343233;
}
.container{
	max-width:1200px;
	text-align: center;
	margin:0 auto;
	padding:0 3rem;
	margin-top: 50px;

}


h1,h2,h3{
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 8px;

}

h1{
	font-size:54px;
	color:#FFD152;
	letter-spacing: 30px;
}
h2{
	font-size: 42px;
	color: #8D8273;
}
h3{
	font-size: 28px;
	color:#8D8273;
}
 h4{
 	font-size:20px;
 	color: #8D8273;

 }
 p{
 	margin:20px 0;
 	color: #8D8273;
 	line-height: 1.6;
 }
 img{
 	margin:0;
 	padding:5px;
 	height:500px;
 	width:100%;
 }
 button{
 	border: none;
 	outline:none;
 	margin:20px 0;
 	padding:20px 40px;
 	font-family: Roboto;
 	color:#282627;
 	background-color: #FFD152;
 	letter-spacing: 2px;
 	font-weight: 800;
 	text-transform: uppercase;
 	outline: none;
 }

 i{
 	font-size: 40px;
 	letter-spacing: 10px;
 }


 .section-home{
 	margin:0;
 	padding:0;
 	width:100%;
 	height:100vh;
 	overflow-y:hidden;

 }
 .section-home .container{
 	margin-top:34vh;
 }

 @media  screen and (max-width:580px){
 	.section-home h2{
 		font-size: 24px;
 	}
 	.section-home h1{
 		font-size: 30px;

 	}
 	.section-home p{
 		display: none;
 	}
 	.section-home i{
 		display:none;
 	}
 }
#overview{
	background-color: #282627;
	padding :8rem 0;

}
.overview-content{
	display:grid;
	grid-gap:80px;
	grid-template-columns:repeat(2,1fr);
	text-align:left;
}
@media  screen and (max-width:580px){
	.overview-content{
	display:grid;
	grid-gap:20px;
	grid-template-columns:repeat(1,1fr);
	text-align:left;
}
}


#about{
	padding:8rem 0;

}
#about h2{
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 12px;
	font-size: 14px;
	color:#FFD152;
margin-bottom: 2em;
}
 #triangle:before{
 	content:"➤ ";

 }
#features{
	padding:8rem 0;
	background-color: #282627;

}
.features-content{
	display:grid;
	grid-gap:80px;
	grid-template-columns:repeat(2,1fr);
	text-align:left;
}
@media  screen and (max-width:580px){
	.features-content{
	display:grid;
	grid-gap:20px;
	grid-template-columns:repeat(1,1fr);
	text-align:left;
}
}

#connect{
	background-color: #343233;
	padding:8rem 0;

}
#connect h2{
	color: #8D8273;

}
#connect input{
	width:80%;
	margin: 2em 0;
	background:none;
	height:6vh;
	border:1px solid #8D8273;
	font-family: Roboto;
	font-weight: 400;
	padding:20px;

}
#connect ::placeholder{
	text-transform: uppercase;

}
#connect input:focus{
	outline:none;
}

footer{
	width:100%;
	color:#8D8273;
	text-align: center;

}






